<div id="<%= dom_id price %>">
  <p>
    <strong>Original price:</strong>
    <%= price.original_price %>
  </p>

  <p>
    <strong>Discount price:</strong>
    <%= price.discount_price %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= price.product_id %>
  </p>

</div>
